<!doctype html>
<html>
     <head>
         <title>{{title}}</title>
         <style> .error {color: red; }
         .flashes { color: red;}
         
         </style>
     
<body>

    <nav>
        <a href='/blog'>All Posts</a>

        <br><br>

        <a href='/posts'>Add New Blog</a>

        <br><br>

        <a href='/'>Home</a>

        <br><br>

        <a href='/logout'>Logout</a>
    </head>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>

            {% endif %}
        {% endwith %}
    </nav>

    {% block content %}
    {% endblock %}


</body>
</html>